<!-- HEADER -->
<header class="header">
    <div class="header-box container">
      <nav class="nav">
        <a class="logo link">
          <span class="logo__img"></span> 
          <span class="logo__title">Filmoteka</span>
        </a>
        <ul class="menu list">
          <li class="menu__item">
            <a class="menu__link link">Home</a>
          </li>
          <li class="menu__item">
            <a class="menu__link link">My Library</a>
          </li>
        </ul>
      </nav>
      <form class="search-form" id="search-form">
        <input class="search-form__input" type="text" name="query" autocomplete="off" placeholder="Поиск фильмов" />
        <button class="search-form__button" type="submit"></button>
      </form>
      <div class="library-menu">
        <button class="library-watched-btn button" type="button">Watched</button>
        <button class="library-queue-btn button" type="button">Queue</button>
      </div>
    </div>
  </header>
  <!-- END-HEADER -->  